:root {
  font-size: 20px;
  box-sizing: inherit;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.App {
  font-family: monotype;
  text-align: center;
  color: rgb(61, 233, 113);
}

.p {
  margin: 0;
}

.main {
  flex: 1 1 100%;
  padding: 25px 15px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

p:not(:last-child) {
  margin-bottom: 8px;
}

body {
  font: 22px "monospace";
  display: flex;
  align-items: center;
  justify-content: center;
  background: #53f9e7;
  background: radial-gradient(circle, #9c8fd2 0%, #d3fbf6 100%) center / cover
    no-repeat fixed;
  min-height: 100vh;
  padding: 30px;
  color: #fc466b;
}

.card {
  max-width: 450px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 35px;
  border: 5px solid rgba(9, 9, 9, 0.884);
  border-radius: 20px;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
}

.card-footer {
  font-size: 12px;
  margin-bottom: 20px;
  color: rgb(57, 57, 117);
  text-align: center;
}

.location .city {
  color: #fc466b;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 5px;
}

header input:focus {
  background-color: rgba(77, 101, 240, 0.897);
}

.location .date {
  color: rgb(193, 113, 113);
  font-size: 23px;
}

.current .temp {
  color: #470093;
  font-size: 102px;
  font-weight: 900;
  margin: 30px 0px;
  text-shadow: 4px 10px rgb(92, 127, 241);
}

.current .temp span {
  font-weight: 500;
}

.current .weather {
  color: #fc466b;
  font-size: 28px;
  font-weight: 700;
  font-style: italic;
  margin-bottom: 20px;
  text-shadow: 0px 4px rgba(77, 101, 240, 0.897);
}

.current .hi-low {
  color: #fff;
  font-size: 26px;
  font-weight: 510;
  text-shadow: 0px 4px rgba(77, 101, 240, 0.897);
}

.app-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.6)
  );
}

header {
  display: flex;
  justify-content: center;
}
