.container {
  background-color: white;
  padding: 0px;
}

.location .date {
  color: rgb(77, 101, 240, 0.897);
  font-size: 23px;
}

.current .temp {
  color: #fff;
  font-size: 102px;
  font-weight: 900;
  margin: 30px 0px;
  text-shadow: 4px 10px rgb(92, 127, 241);
}

.current .temp span {
  font-weight: 500;
}

.current .weather {
  color: #fc466b;
  font-size: 28px;
  font-weight: 700;
  font-style: italic;
  margin-bottom: 20px;
  text-shadow: 0px 4px rgba(77, 101, 240, 0.897);
}

.current .hi-low {
  color: #fff;
  font-size: 26px;
  font-weight: 510;
  text-shadow: 0px 4px rgba(77, 101, 240, 0.897);
}
